@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body{
	font-family:'Nanum Gothic', sans-serif;
}
.row > .col-md-3, .col-md-9{
	vertical-align:middle!important;
}
.bgImage{
	background-image:url('../img/taco.png');
	position:absolute;
	width:100%; 
	height:100%;
	background-size:100%; 
	background-repeat:no-repeat;
	-ms-filter:“alpha(opacity=75)”;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40); 
	-webkit-filter: blur(30px);
	-moz-filter: blur(30px); 
}
.show-menu, .show-reward{
	cursor:pointer;
	color: #b2b2b2;
	display:none;
    filter: blur(30px);
   }
.icn{
	height:23px;
	width:23px;
}
.point_icn, .reply_icn{
	height:20px;
	width:20px;
}
#profile{
   margin-top:20px;
   margin-bottom:0px;
   margin-right:-45px;
}
#cover_photo{
   margin-top:20px;
   margin-bottom:0px;
   margin-right:5px;
}
#count, .point_expansion,.question_editor{
	display:none;
}
#footer{
	font-size:0.5em;
	position:absolute;
	top:100%;
}
.notice_expansion{
	max-width:700px;
	margin-top:10px;
	margin-right:20px;
	position:absolute;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.2);	
	opacity:0.85;
}
.notice_part{
	max-width:340px;
	margin-top:10px;
	margin-bottom:0px;
	/*margin-left:-15px;*/
	box-shadow: 0px 1px 1px rgba(255,255,255,0.2);	
	opacity:0.85;
}
.phone_part{
	max-width:340px;
	margin-top:10px;
	margin-bottom:0px;
	margin-left:-30px;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.2);	
	opacity:0.85;
}
.gallery_part{
	max-width:340px;
	margin-top:-10px;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.2);	
	opacity:0.85;
}
.address_part{
	max-width:340px;
	margin-top:-10px;
	margin-left:-30px;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.2);	
	opacity:0.85;
}
.address_part .panel-body > img{
	height:180px;
	width:300px;
}
.notice_part h5, .orange_font{
	color : #e66125;	
}
.small_img{
	height:70px;
	width:70px;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
}
.point_sicn{
	height:12px;
	width:12px;
}

.displayed {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.navbar{
	width:230px;
	background-color: #edeff2;
	border-color:#c9ced6;
	filter: blur(1px);
	box-shadow: 0px 0px 0px rgba(255,255,255,0.2);
}
.navbar > .nav > ul{
	border:1px;
}
.navbar > .nav > li > h6 {
	padding-top:10px;
	padding-left:20px;
	color:#888888;
}
.navbar > .nav >li > h3 {
	padding-left:20px;
	color:#333333;
}
.navbar > .nav >li > p{
	padding-left:20px;
	color:#888888
}
.reward_part{
 	max-width:700px;
 	margin-top:-10px;
}
.reward_part .panel_body{
	display:inline-block;
}
.navbar > .nav > li{
	border-bottom:1px solid #C9CED6; 
	border-color:#c9ced6;	
}
.navbar >.nav > a:link, a:hover{
	background-color:#FFFFFF;
	color:#e66125;
} 
.gallery_expansion li {
  	margin-left:-10px;
  	margin-right:-10px;
}
.panel-heading > a{
	color:#b2b2b2;
}
.panel > .panel-heading{
	margin-bottom:-10px;
}
/*cardUI에 들어가는 css*/
.panel-body{
	background-color:#FFFFFF;
	opacity:0.85;
	box-shadow: 0px 0px 0px rgba(255,255,255,0.2);
	filter:blur(1px);
}
.gallery_expansion{
	margin: 0 auto;
}
.gallery_expansion > .panel{
	max-width:700px;
	margin-left:-15px;
	margin-top: 10px;
}
.gallery_expansion >.panel > .panel-body img{
	display:inline-block;
	margin: 10px;
	height:40px;
	width:40px;
}
#inGallery img{
	height:300px;
	width:700px;
	vertical-align:middle;
}
#inGallery .panel-body{
	padding:0px;
	margin-top:-20px;
}
a.thumbnail:hover,
a.thumbnail.active,
li.active a{
	opacity:1;
}
a.thumbnail{
	opacity:0.3;
}
li > a{
	color:#333333;
}
.menu_part{
	max-width:700px;
	padding-top:10px;
}
.point_part{
	max-width:700px;
	display:none;
}
.point_expansion{
	margin-top:-15px;
}
.media{
	float:left;
	max-width:300px;
	max-height:100px;
}
.media-body{
	max-width:200px;
	height:100px;
}
.media-heading{
	color:#333333;
}
#phone{
	margin-top:1.3em;
}
.grey_text{
	color:#b2b2b2;
}
.black_text{
	color:#333333;
}
.media-object{
	height:80px;
	width:80px;
}
.mobile_nav{
	display:none;
	margin:0 auto;
}
.mobile_nav li{
	margin-left:-10px;
	margin-right:-50px;

}
.inline{
	max-width:120px;
	max-height:120px;
	display:inline-block;
	margin:0 auto;
}
.inline > img{
	margin-left:10px;
	
}
.inline > h6{
	text-align:center;
}
.reward_part > .panel > .panel-body > img {
	display:block;
}
.point_panel{
	max-width:700px;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.2);	
	opacity:0.85;
}
.reply_icn{
	height:20px;
	width:20px;
}


/* 미디어쿼리에 따른 css변경 사항*/
@media only screen and (max-width: 320px) { 
	body{
		background-color:#EDEFF2;
	}
	.container{
		float:none;
		margin:0 auto;
		background-color:#EDEFF2;
	}
	.bgImage, .gallery_part, .address_part .panel-body > img{
		display:none;
		}
	.address_part .panel-body{
		font-size:0.9em;
	}
	#cover_photo{
		float:none;
		margin:0 auto;
	}
	#footer{
		font-size:0.7em;
		background-color:#888888;
	}
	#profile{
		margin-left:-20px;
		margin-top:0px;
	}
	#profile > img{
		width:100%;
		height:250px;
		margin-bottom:20px;
	}
	#chat{
		padding-top:10px;
		margin:0 auto;
	}
	.buttons{
	    margin-top: 0;
	    outline:none;
		display:inline-block;
   	    font-size:0.1em;
   	    width:100%;
	}
	.buttons img{
		height:15px;
		width:15px;
	}
	.question_button> button{
	    color: #333333;
	    outline:none;
	    width:50.5%;
	    margin-right:-5px;
	    border:none;
	}
	.reply_button> button{
	    color: #333333;
	    outline:none;
	    width:50.5%;
	    margin-right:-5px;
	    border:none;
	}
	#cover, #mainTab, #profile > .navbar{
		display:none;
	}
	.mobile_nav{
		background-color:#FFFFFF;
		vertical-align:middle;
		width:100%;
	}
	.mobile_nav li{
		font-size:0.85em;
		margin-left:-5px;
		margin-right:-10px;
	}
	.mobile_nav, .menu_part, .reward_part, .point_part, .point_panel{
		display:inline-block;
	}
	#inGallery img{
		float:none;
		vertical-align:middle;
		height:250px;
	}

	#img-profile{
		margin-right:-20px;
	}
	.media{
		border-bottom:1px solid #c9ced6;
		margin-bottom: 5px;
	}
	.phone_part, .address_part, .notice_part, .notice_expansion, .menu_part, .reward_part, .point_part,.point_panel{
		margin:0 auto;
		box-shadow: 0px 1px 1px rgba(255,255,255,0.2);	
		opacity:0.85;
	}
	.reward_part .panel-body {
		display:inline-block;
	}
	.gallery_expansion{
		position:fixed;
		left:0;
		top:6%;
		height:100%;
		float:inherit;
	}
	#gallery{
		width:100%;
		height:100%;
		float:inherit;
		background-color:#FFFFFF;
	}
	.gallery_expansion > .panel{
		width:100%;
		height:100%;
		margin:0 auto;
	}
	.gallery_expansion .panel-heading{
		display:none;
	}
	.gallery_expansion > .panel > .panel-body{
		margin-bottom:50px;	
		padding-top:0px;
	}
	.gallery_expansion >.panel > .panel-body img{
		display:inline-block;
		margin: 0px;
		height:60px;
		width:60px;
	}
	.reward_part{
		position:relative;
		margin-top:-10px;
		width:100%
	}
	.menu_part{
 		padding-top:0px;
  		position: absolute;
     	top: 100%;
    	width:90%;
	}
	.reward_part span, .menu_part span{
		vertical-align:middle;
		text-align: center;
		cursor:pointer;	
		font-weight:normal;
		color:#B2B2B2;
	}	
	#showMore, #count, .show-menu{
		display:block;
	}
	.show-point, #chat .panel-heading{
		cursor:pointer;
		color:#e66125;
		font-weight:bolder;
		/*border-bottom:1px solid #C9CED6;*/
	}
	#point{
		opacity:0.5;
	}
	#question_editor{
		margin-top:-10px;
	}
	.reward_part hr{
		margin:0 auto;
		border-color:#c9ced6;
		width:90%;
	}
	.reward_part .panel{
		margin-top:10px;
	}
	.inline{
		width:70px;
	}
	.inline > h6{
		width:65px;
	}
	.reward_part, .point_panel{
		display: inline-block;
	}
	#profile{
		position:relative;
	}
	#profile >.mobile_panel{
		position:absolute;
		top:5%;
		left:8%;
		color:#FFFFFF;
		opacity: 0.7;
	}
	#profile >.mobile_panel > h6,h3{
		background-color: #080808;
	}
	#profile > .kakao{
		position:absolute;
		top:63%;
		left:70%;
		background-color: #080808;
		opacity:0.7;
		color:#FFFFFF;
	}
	.reward_part{
		margin-top:-10px;
		position:relative;
		width:100%;
	}
	.point_part{
		width:100%;	
		margin-bottom:-22px;	
	}
	#point_reward{
		margin-top:10px;
	}
	.point_panel{
		display:none;
	}
	.notice_expansion{
		margin-top:10px;
		margin-right:10px;
	}
	.gallery_part, .point_panel, IMG.displayed, .reward_part small{
		display:none;
	}
	.address_part{
		position:relative;
		margin-top:-8px;
	}
	.mobile_nav > .nav-tabs > li{
		margin-right:-5px;
	}
	#menu_reward{
		margin-top:-15px;
	}
	.wrapper{
		margin-top:30px;
	}
	.panel-body .reply{
		background-color: #edeff2;
	}
	.phone_part{
		margin-top:-10px;
	}
	#reply_write ,#write{
		height:100px;
		overflow:auto;
	}
}
@media only screen 
and (min-width: 320px)
and (max-width: 480px)
 { 
	body{
		background-color:#EDEFF2;
	}
	.container{
		float:none;
		margin:0 auto;
		background-color:#EDEFF2;
	}
	.bgImage{
		display:none;
		}
	#cover_photo{
		float:none;
		margin:0 auto;
	}
	#profile{
		margin-left:-20px;
		margin-top:0px;
	}
	#profile > img{
		width:100%;
		height:250px;
		margin-bottom:20px;
	}
	#cover, #mainTab, #profile > .navbar{
		display:none;
	}
	.mobile_nav{
		background-color:#FFFFFF;
		vertical-align:middle;
		width:100%;
	}
	.mobile_nav, .menu_part, .reward_part, .point_part, .point_panel{
		display:inline-block;
	}
	.mobile_nav li{
		font-size:0.9em;
		margin-left:-9px;
	}
	#gallery .nav-tabs{
		margin-left:0 auto;
		margin-right:0 auto;
		display:block;
	}
	#inGallery img{
		float:none;
		vertical-align:middle;
	}
	.question_button > button{
	    width:50.5%;
	    margin-right:-5px;
	    border:none;
	}
	.reply_button > button{
	    width:50%;
	    margin-right:-5px;
	    border:none;
	}
	.phone_part, .address_part, .notice_part, .notice_expansion, .menu_part, .reward_part , .point_part, .point_panel{
		margin:0 auto;
		box-shadow: 0px 1px 1px rgba(255,255,255,0.2);	
		opacity:0.85;
	}
	.reward_part > .panel > .panel-body > div {
		display:inline-block;
	}
	.gallery_expansion{
		position:fixed;
		left:0;
		top:2%;
		height:100%;
		float:inherit;
	}
	.gallery_expansion > .panel{
		margin-top: 15px;
	}
	.gallery_expansion > .panel > .panel-body img{
		display:inline-block;
		margin: 0 auto;
		height:40px;
		width:40px;
	}
	.gallery{
		height:64px;
		width:64px;
	}
	.notice_part{
		margin-top:-5px;
	}
	.reward_part{
		display: inline-block;
	}
	#profile >.mobile_panel{
		position:absolute;
		top:10px;
		left:30px;
		color:#FFFFFF;
		opacity: 0.7;
	}
	#profile >.mobile_panel > h6,h3{
		background-color: #080808;
	}
	#profile > .kakao{
		position:absolute;
		top:63%;
		left:70%;
		background-color: #080808;
		opacity:0.7;
		color:#FFFFFF;
	}
	.point_panel{
		display:none;
	}
	.notice_expansion{
		margin-top:10px;
		margin-right:10px;
	}
	.reward_part > .panel >.panel-heading > small{
		display: none;
	}
	.gallery_part, IMG.displayed{
		display:none;
	}
	.address_part{
		position:relative;
		margin-top:-8px;
	}
	.mobile_nav > .nav-tabs > li{
		margin-right:-5px;
	}
	#menu_reward{
		margin-top:-15px;
	}
	.gallery_expansion{
		margin-top:10px;
	}
	.wrapper{
		margin-top:30px;
	}
	.reward_part{
		position:relative;
		margin-top:-10px;
		width:100%
	}
	.point_part{
		width:100%;
		margin-bottom:-22px;
	}
	.menu_part{
 		padding-top:0px;
  		position: absolute;
     	top: 100%;
    	width:90%;
	}
	.reward_part span{
		vertical-align:middle;
		text-align: center;
		cursor:pointer;	
		font-weight:normal;
	}
	#reply{
		background-color: #edeff2;
	}
	.phone_part{
		margin-top:-10px;
	}
	#reply_write ,#write{
		height:100px;
		overflow:auto;
	}
}
/* 웹페이지 화면 상에서의 query*/
@media only screen and (min-width: 480px)
{
	.mobile_panel, .kakao, .point_part, .point_panel, .calling ,.show-menu{
		display:none;
	}
	#chat{
		display:none;
	}
}
@media screen and (max-width: 800px) { 
	
}
@media screen and (max-width: 1028px) { 

}