<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg">
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="../static/js/jquery-1.10.2.js"></script>
	<script src="../static/js/bootstrap.js"></script>
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<svg version="1.1" height="0" width="0">
     <filter id="blur" x="0" y="0">
       <feGaussianBlur stdDeviation="3"></feGaussianBlur>
     </filter>
</svg>   
	<div class="bgImage"> </div>
	<div class="container">
		<div class="row">
			<div class="mobile_nav">
					<ul class="nav nav-tabs" id="mobileTab">
						<li class="#tab1 active"><a href="#cardUI" data-toggle="tab">매장정보</a></li>
						<li class="#tab2"><a href="#menu_reward" data-toggle="tab">메뉴 &amp; 리워드</a></li>
						<li class="#tab3"><a href="#gallery" data-toggle="tab">갤러리</a></li>
						<li class="#tab4 hidden"><a href="#notice" data-toggle="tab"> </a></li>
						<li class="#tab5"><a href="#chat" data-toggle="tab">매장과 대화</a></li>
					</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1" id="profile">
				<img src="../static/img/taco_2.png" id="img-profile">
				<div class="mobile_panel">
					<h6>역삼,논현 > 레스토랑</h6>
					<h3>타코드부로</h3>
					<h6><img src="../static/img/icn_users.png" height="15px" width="15px">1명 적립중</h6>
				</div>
				<div class="kakao">
					<img src="../static/img/img_katalk.png" height="40px" width="40px"style="margin-left:5px">
					<p>카톡문의</p>
				</div>
				<div class="navbar navbar-default">
				    <ul class="nav nav-tabs nav-stacked" id="mainTab">
						<li><h6>역삼,논현 > 레스토랑</h6>
						<h3>타코드부로</h3>
						<p><img src="../static/img/icn_users.png" height="15px" width="15px" style="opacity: 0.4">1명이 도도 적립중입니다.</p></li>
						<li class="#tab1 active"><a href="#cardUI" data-toggle="tab">매장정보</a></li>
						<li class="#tab2"><a href="#menu_reward" data-toggle="tab">메뉴 &amp; 리워드</a></li>
						<li class="#tab3"><a href="#gallery" data-toggle="tab">갤러리</a></li>
						<li class="#tab4 hidden"><a href="#notice" data-toggle="tab"></a></li>
					</ul>
				</div>
			</div>
			<!-- COVER PHOTO 
				=======================================-->
			<div class="col-sm-8 col-md-8" id="cover_photo">
				<div id="cover">
					<img src="../static/img/700x300.png" class="img-responsive">
				</div>
				<div class="tab-content">
				<div class="tab-pane" id="gallery">
				<div class="col-xs-12 col-md-12 col-sm-12">
					<div class="gallery_expansion">
						<div class="panel panel-default">
							<div class="panel-heading"> 
								<img src="../static/img/icn_gallery_black.png" class="icn">갤러리
							</div>
							<!-- 갤러리 확장
								=======================================-->
							<div class="panel-body">
								<ul class="nav nav-tabs">
									<li id="count"><a href="" data-toggle="tab" a class="grey_text" style="font-size: 30px;">1/3</a></li>
									<li class="active">
									<a href="#img1" data-toggle="tab" class="thumbnail">
									<img src="../static/img/reward_sample.jpg">
									</a></li>									
									<li><a href="#img2" data-toggle="tab" class="thumbnail">
									<img src="../static/img/reward_sample2.jpg">
									</a></li>
									<li><a href="#img3" data-toggle="tab" class="thumbnail">
									<img src="../static/img/dodo.jpg">
									</a></li>
								</ul>
							</div>
							<div class="tab-content" id="inGallery">
								<div class="tab-pane active" id="img1"> 
									<div class="panel-body">
										<img src="../static/img/reward_sample.jpg" class="img-responsive">
									</div>
								</div>
							<div class="tab-pane" id="img2"> 
							<div class="panel-body">
								<img src="../static/img/reward_sample2.jpg" class="img-responsive">
							</div>
							</div>
							<div class="tab-pane" id="img3">
								<div class="panel-body">
									<img src="../static/img/dodo.jpg" class="img-responsive">
								</div>
							</div>
							</div>
						</div>						
					</div>
				</div>
				</div>
				<!-- 공지사항 열기 
				=======================================-->
				<div class="tab-pane fade" id="notice">
					<div class="row">
						<div class="col-sm-12 col-md-12">
						<div class="notice_expansion">
							<div class="panel panel-default">
							  	<div class="panel-heading">
							  		<img src="../static/img/icn_noti_orangep5.png" class="icn">공지사항
							  	</div>
							  	<div class="panel-body">
							    	<h5 class="orange_font">도도 제휴 기념이벤트 오후 1~3시 방문 손님께 무조건 아메리카노 무한 리필해드립니다.
										많이 방문해주세요! 최대 글자수는 기존과 같이 100자이며 최대로 글자수를 쓰면
										길이가 이정도 됨.
									</h5>
									<h6 class="grey_text" align="right">2013.12.15</h6>
								<hr>	
							  	</div>
							  	<div class="panel-body">
							    	<h5>도도 제휴 기념이벤트 오후 1~3시 방문 손님께 무조건 아메리카노 무한 리필해드립니다.
										많이 방문해주세요! 최대 글자수는 기존과 같이 100자이며 최대로 글자수를 쓰면
										길이가 이정도 됨.
									</h5>
									<h6 class="grey_text" align="right">2013.12.15</h6>
							  	</div>
								  	<hr>
								<div class="panel-body">
								   	<h5>도도 제휴 기념이벤트 오후 1~3시 방문 손님께 무조건 아메리카노 무한 리필해드립니다.
										많이 방문해주세요! 최대 글자수는 기존과 같이 100자이며 최대로 글자수를 쓰면
										길이가 이정도 됨.
									</h5>
									<h6 class="grey_text" align="right">2013.12.15</h6>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
				<!--메뉴&리워드 상세 panel-->
				<!--메뉴상세panel-->
				<div class="tab-pane" id="menu_reward">
					<div class="wrapper">
					<div class="menu_part">
						<div class="panel panel-default">
							<div class="panel-heading">
								<img src="../static/img/icn_book_black.png" class="icn">메뉴
								<span class="show-menu pull-right"> 전체보기 <span class="glyphicon glyphicon-chevron-right" style="opacity: 0.85"> </span> </span>
							</div>
							<div class="panel-body">
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="media">
	        							<a href="#" class="pull-left">
		            						<img src="../static/img/dodo.jpg" class="media-object">
		        						</a>
	        							<div class="media-body">
		            						<p class="media-heading">바질프라운크림파스타</p>
		            						<small class="grey_text">12,000원<br>
		            						여기에 음식에 대한 설명을작성할 수 있습니다.
		            							최대 2줄로 작성 가능합니다. </small>
						        		</div>
					    			</div>
		
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="media">
	        							<a href="#" class="pull-left">
		            						<img src="../static/img/dodo.jpg" class="media-object img-responsive">
		        						</a>
	        							<div class="media-body">
		            						<p class="media-heading">바질프라운크림파스타</p>
		            						<small class="grey_text">12,000원</small>
						        		</div>
					    			</div>
								</div>
								</div>
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="media">
	        							<a href="#" class="pull-left">
		            						<img src="../static/img/dodo.jpg" class="media-object img-responsive">
		        						</a>
	        							<div class="media-body">
		            						<p class="media-heading">바질프라운크림파스타</p>
		            						<small class="grey_text">12,000원<br>
		            						여기에 음식에 대한 설명을작성할 수 있습니다.
		            							최대 2줄로 작성 가능합니다.</small>
						        		</div>
					    			</div>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="media">
	        							<div class="media-body">
		            						<p class="media-heading">바질프라운크림파스타</p>
		            						<small class="grey_text">12,000원<br>
		            						여기에 음식에 대한 설명을작성할 수 있습니다.
		            							최대 2줄로 작성 가능합니다.</small>
						        		</div>
					    			</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				<!--포인트&리워드-->
				<div id="point_reward">
					<!--포인트-->
					<div class="point_part">
						<div class="panel panel-default">
							<div class="panel-body">
								<img src="../static/img/icn_wallet_orangep5.png" class="icn">내 포인트
								<span class="show-point pull-right" >156 <img src="../static/img/point.png" class="point_icn">
									<span class="glyphicon glyphicon-chevron-right grey_text"></span>
								</span>
							</div>
							<!--포인트 상세보기-->
							<div class="point_expansion">
								<div class="panel-body">
									<table class="table" align="center">
										<tr>
											<td>2012.02.16</td>
											<td>22:02</td>
											<td class="text-muted">+8<img src="../static/img/point.png" style="opacity:0.5;" class="point_icn"></td>
											<td class="orange_font">125<img src="../static/img/point.png" height="20" width="20"></td>
										</tr>
										<tr>
											<td>2012.02.16</td>
											<td>22:02</td>
											<td>+8<img src="../static/img/point.png" height="20" width="20"></td>
											<td class="orange_font">125<img src="../static/img/point.png" height="20" width="20"></td>
										</tr>
										<tr>
											<td>2012.02.16</td>
											<td>22:02</td>
											<td>+8<img src="../static/img/point.png" height="20" width="20"></td>
											<td class="orange_font">125<img src="../static/img/point.png" height="20" width="20"></td>
										</tr>
										<tr>
											<td>2012.02.16</td>
											<td>22:02</td>
											<td>+8<img src="../static/img/point.png" height="20" width="20"></td>
											<td class="orange_font">125<img src="../static/img/point.png" height="20" width="20"></td>
										</tr>
									</table>
								</div>
							</div>	
						</div>
					</div>
					
					<!--리워드상세panel-->
					<div class="reward_part">
						<div class="panel panel-default">
							<div class="panel-heading">
								<img src="../static/img/icn_gift_black.png" class="icn">리워드
								<small class="grey_text" style="float:right" >매장 내의 도도포인트 태블릿으로 포인트를 쌓아 리워드를 받으실 수 있습니다.</small>
							</div>
							<div class="panel-body" id="reward">
									<div class="inline">
										<img src="../static/img/dodo.jpg" class="img-responsive">
										<h6 class="black_text">모든 음료 한잔 무료</h6>
										<h6 class="black_text">5<img src="../static/img/point.png" class="point_sicn"></h6>
									</div>
									<div class="inline">
										<img src="../static/img/dodo.jpg" class="img-responsive">
										<h6 class="black_text">모든 음료 한잔 무료</h6>
										<h6 class="black_text">5<img src="../static/img/point.png" class="point_sicn"></h6>
									</div>
									<div class="inline">
										<img src="../static/img/dodo.jpg" class="img-responsive">
										<h6 class="black_text">모든 음료 한잔 무료</h6>
										<h6 class="black_text">5<img src="../static/img/point.png" class="point_sicn"></h6>
									</div>
									<div class="inline">
										<img src="../static/img/dodo.jpg" class="img-responsive">
										<h6 class="black_text">모든 음료 한잔 무료</h6>
										<h6>5<img src="../static/img/point.png" class="point_sicn"></h6>
									</div>
									<div class="inline">
											<img src="../static/img/dodo.jpg" class="img-responsive">
											<h6>모든 음료 한잔 무료</h6>
											<h6>5<img src="../static/img/point.png" class="point_sicn"></h6>
									</div>
							</div>
							<span class="show-reward"><hr><p>리워드 전체보기 >></p></span>
						</div>
					</div>
				</div>
				</div>
				</div>
			
				<div class="tab-pane" id="chat" style="margin-top:15px;">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading ">
									<img src="../static/img/icn_message_orangep5.png" style="height:30px;width:30px;">1:1 문의하기
								</div>
								<div class="question_editor">
									<div id="write" contenteditable="true" data-ph="매장에 궁금한 점을 작성해주세요."> 
										<span><img src="../static/img/icn_message_orangep5.png" class="icn"></span>							
									</div>
									<div class="question_button">
										<button type="button" class="btn btn-default">
										  <span><img src="../static/img/icn_x_grey.png" class="icn" id="cancle_btn_1"></span> 취소
										</button>
										<button type="button" class="btn btn-default">
										  <span><img src="../static/img/icn_check_dodoblue.png" class="icn"></span> 보내기
										</button>
									</div>
								</div>
							</div>
                           
                            <div class="panel panel-default">
								<div class="panel-body">
									<img src="../static/img/icn_q_grey.png" class="reply_icn">
									안녕하세요, 스포카 패밀리 레스토랑 저번에 방문 했던 사람입니다.
									오늘의 쉐프 추천요리가 매일 50%할인이라던데, 이번 목요일 메뉴는 
									뭔지 알려주실 수 있나요?
								</div>
								<div class="panel-body" id="reply">
									<img src="../static/img/icn_reply_dodoblue.png" class="reply_icn">
									안녕하세요, 고객님^^ 그건 쉐프님 마음이라 안알랴줌.
								</div>
								<div class="panel-body" id="reply_head">
									<a><img src="../static/img/icn_message_orangep5.png" class="reply_icn">답변하기</a>
								</div>
								<div class="panel-body" id="reply_body">
									<div id="reply_write" contenteditable="true">
										<span><img src="../static/img/icn_message_orangep5.png" class="reply_icn"></span>
									</div>
								</div>
								<div class="panel-body" id="reply_button">
									<div class="col-xs-6 col-md-6 col-sm-6">
										<button type="button" class="btn btn-default" id="cancle_btn">
											<img src="../static/img/icn_x_grey.png" height="30px" width="30px">
											<span>취소</span>
										</button>
									</div>
									<div class="col-xs-6 col-md-6 col-sm-6">
										<button type="button" class="btn btn-default" id="send_btn">
											<img src="../static/img/icn_check_dodoblue.png" height="30px" width="30px">
											<span>보내기</span>
										</button>
									</div>
								</div>
							</div>
                     	</div>
					</div>
				</div>
				<!-- Card UI 
				=======================================-->
				<div class="tab-pane active" id="cardUI">
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<div class="notice_part">
							<div class="panel panel-default">
								<div class="panel-heading">
									<img src="../static/img/icn_noti_orangep5.png" class="icn">공지사항<a class="show-notice pull-right grey_text">전체보기</a>
								</div>
							  	<div class="panel-body">
							    	<h5>도도 제휴 기념이벤트 오후 1~3시 방문 손님께 무조건 아메리카노 무한 리필해드립니다.
										많이 방문해주세요! 최대 글자수는 기존과 같이 100자이며 최대로 글자수를 쓰면
										길이가 이정도 됨.
									</h5>
									<h6 class="grey_text" align="right">2013.12.15</h6>
							  	</div>
							</div>
						</div>
						<div class="gallery_part">
							<div class="panel panel-default">
								<div class="panel-heading">
									<img src="../static/img/icn_gallery_black.png"class="icn">갤러리<a class="show-image pull-right grey_text">전체보기</a><br>
								</div>
							  	<div class="panel-body" align="center">
							  		<img src="../static/img/dodo.jpg" class="small_img">
						 			<img src="../static/img/dodo.jpg" class="small_img">
						 			<img src="../static/img/dodo.jpg" class="small_img">	
						 			<img src="../static/img/dodo.jpg" class="small_img">	
						 			<img src="../static/img/dodo.jpg" class="small_img">	
						 			<img src="../static/img/dodo.jpg" class="small_img">	
						 			<img src="../static/img/dodo.jpg" class="small_img">	
						 			<img src="../static/img/dodo.jpg" class="small_img">	
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="phone_part">
							<div class="panel panel-default">
								<div class="panel-heading">
									<img src="../static/img/icn_phone_black.png" class="icn">전화번호
									<a class="calling grey_text pull-right">전화하기 ></a>
								</div>
							  	<div class="panel-body">
							 		<p>02-1234-5678</p>
							  	</div>
							</div>	
						</div>
						<div class="address_part">
	                		<div class="panel panel-default">
	                			<div class="panel-heading">
	                				<img src="../static/img/icn_location_black.png"class="icn">주소  <a class="pull-right grey_text" href="http://map.naver.com/?dlevel=12&lat=37.5067524&lng=127.0550098&query=7ISc7Jq47Yq567OE7IucIOqwleuCqOq1rCDthYztl6TrnoDroZwgNDM3&type=ADDRESS&tab=1&enc=b64"> 지도보기 ></a>
	                			</div>
		                   		<div class="panel-body">
		                           	<p>서울시 강남구 테헤란로 437 삼영빌딩 7층</p>
		                           	<img src="../static/img/address.png" class="img-responsive displayed">
		                   		</div>
	                		</div>
	            	 	</div>
	            	 </div>
	            	<div id="footer">
	         	<div class="container">
	            	<p class="text-muted">Copyrightⓒ2013 스포카 패밀리 레스토랑 All Rights Reserved.<br>
	            							  Copyrightⓒ2013 Spoqa Inc. All Rights Reserved.	</p>
	            </div>
	         </div>	
				</div>		
			</div>
			</div>
			 </div>
			</div>
		</div>

</body>	


<script type="text/javascript">
	$(document).ready(function(){
	
	$('.show-notice').on('click', function(){
		$('#mainTab a:eq(3)').tab('show');
		$('#img-profile').hide();
		$('.mobile_panel').hide();
		$('.kakao').hide();
		if(($(window).width() >= 400)){
            $('#img-profile').fadeIn();
        }
		$('#mainTab li:nth-child(2)').attr('class', '#tab1');
		});
	});
	$('.show-image').on('click', function(){
		$('#mainTab a:eq(2)').tab('show');
	});
</script>	
<script type="text/javascript">
	
   $('#mobileTab li').on('click', function(){
      if($(this).attr('class').search('#tab1') != 0) {
         $('#img-profile').fadeOut();
         $('.mobile_panel').fadeOut();
         $('.kakao').fadeOut();
      }
      else{
         $('#img-profile').fadeIn();
         $('.mobile_panel').fadeIn();
         $('.kakao').fadeIn();
      }
   });
</script>
<script type="text/javascript">
	$(document).ready(function(){
	$('.show-notice').on('click', function(){
		$('#mobileTab a:eq(3)').tab('show');
		$('#mobileTab li:nth-child(1)').attr('class', '#tab1');
		});
	});
	$('.show-image').on('click', function(){
		$('#mobileTab a:eq(2)').tab('show');
	});
	$('.show-menu').on('click', function(){
		$('.reward_part').hide();
		$('.media').show();
		$('.show-menu').hide();
		$('.point_part').hide();
	});
</script>
<script type="text/javascript">
$.partlyShow = function(){
		$('.inline').hide();
		$('.inline:lt(3)').show();	
		$('.media').hide();
		$('.media:lt(3)').show();
		return true;
	};
	if(($(window).width() <= 400)){
		$.partlyShow();
	}
	$(window).resize(function(){
		if(($(window).width() <= 400)){
			$.partlyShow();
		}
		if(($(window).width() >= 400)){
			$('#img-profile').fadeIn();
		}
	});
		$('.show-reward').click( function(){
			$('.menu_part').fadeOut();
			$('.inline').show();
			$('.show-reward').fadeOut();
			$('.point_part').fadeOut();
		});
	$('#mobileTab a[href="#menu_reward"]').on('click', function(){
		$('.menu_part').show();
		$.partlyShow();
		$('.show-reward').show();
		$('.reward_part').show();
		$('.show-menu').show();
		});
	$('#mobileTab a[href="#chat"]').on('click', function(){
		$('#chat .panel-heading').show();
		$('#question_editor').hide();
		
		});
</script>

<script>
	$('.show-point').on('click', function(){
		$('.point_expansion').slideToggle('slow');
		$('.glyphicon').toggle('hide');
		$('.reward_part').toggle('hide');
		$('.menu_part').toggle('hide');
	});	
</script>

<script type="text/javascript">
	$('tab1').click(function(){
		$('#cardUI').show();
	});
</script>

<script>
	$('#chat .panel-heading').on('click', function(){
        $('.question_editor').slideToggle('slow');
        $('#chat .panel-heading').fadeOut();
    });
    
	$(document).ready(function () {    
   	var newText, text = "";

   	$('#write').html(function () {  
       console.log($.trim($(this).html()));      
       if ($.trim($(this).length) < 2) {
           placehold('write', "<span class=grey_text><img src=../static/img/icn_message_orangep5.png style=height:50px;width:50px;>매장에 궁금한 점을 작성해주세요.</span>");
           text = $.trim($('#write').html());
       }
   	});
   	$('#write').keydown(function () {        
       if ($.trim($(this).html()) == text) {
           placehold('write', '<span style=color:#333333;></span> ');
       } else {
           placehold('write', newText);
       }
   	});

});
function placehold(id, placeholder) {
    $("#" + id).html(placeholder);
}
</script>

<script type="text/javascript">
	$('#reply_body').hide();
	$('#reply_button').hide();
	
	$(document).ready(function() {
        var expanded = false;
        // 클릭했을 때 보여진다.
        $("#reply_head").click(function(event) {
            if (!expanded) {
                event.stopPropagation();
                $("#reply_body").slideDown();
                $("#reply_button").slideDown();
                expanded = true;
                $("#reply_head").slideUp();
            }
        });
        $('#cancle_btn').click(function () {
            if (expanded) {
                $("#reply_body").slideUp();
                $("#reply_button").slideUp();
                expanded = false;
                $("#reply_head").slideDown();
            }
        });
        
        //보내기 버튼 금지 시켜 놓음
        $("#send_btn").click(function(event) {
                event.stopPropagation();
            });
    });
</script>
</html>
